<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" style="max-width: 300px;max-height: 300px"
        alt="user can't get">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        {{> profile-title title=user.Comments did='已評論餐廳' didnot='未有任何評論'}}
        {{> profile-title title=user.FavoritedRestaurants did='收藏餐廳' didnot='未有任何收藏餐廳'}}
        {{> profile-title title=user.Followings did='followings(追蹤者)' didnot='未有任何追蹤者'}}
        {{> profile-title title=user.Followers did='followers(追隨者)' didnot='未有任何追隨者'}}
        {{#if signInUserId}}
        <a href='/users/{{user.id}}/edit'>
          <button type="button" class="btn btn-primary">Edit</button>
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column">
      {{> profile-record title=user.Followings did='followings(追蹤者)' didnot='未有任何追蹤者' alt='user' id=this.id image=this
      .image data='user'}}
      {{> profile-record title=user.Followers did='followers(追隨者)' didnot='未有任何追隨者' alt='user' id=this.id image=this
      .image data='user'}}
    </div>
    <div class="col-6 d-flex flex-column">
      {{> profile-record title=user.Comments did='已評論餐廳' didnot='未有任何評論' alt='restaurant'}}
      {{> profile-record title=user.FavoritedRestaurants did='收藏餐廳' didnot='未有任何收藏餐廳' alt='restaurant' id=this.id
      image=this
      .image data='restaurant'}}
    </div>
  </div>
</div>